.word-btn-item {
  cursor: pointer;
}

.word-btn {
  border: none;
  width: 2em;
  height: 2em;
  color: var(--main-color);
  background-color: rgba(0, 0, 0, 1);
  padding: 0.5em;
  position: relative;
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0,0);
  box-shadow: -0.5em 0.5em 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  cursor: pointer;
    &::before {
      display: block;
      position: absolute;
      content: "";
      width: 0.35em;
      height: 100%;
      left: -0.35em;
      top: 0.15em;
      background-color: rgba(0, 0, 0, 0.6);
      transform: rotate(0deg) skewY(-45deg)
    }
    &::after {
      display: block;
      content: "";
      position: absolute;
      bottom: -0.3em;
      left: -0.15em;
      height: 0.3em;
      width: 100%;
      transform: rotate(0deg) skewX(-45deg);
      background-color: rgba(0, 0, 0, 0.6);
    }
    &:hover ,
    &.active{
      transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0.5em, -0.5em);
      box-shadow: -1.3em 1.3em 1em rgba(0, 0, 0, 0.5);
      text-shadow: 0 0 0.2em var(--main-color);
    }
    &.active {
      color: white;
    }
}