
:root{
  --main-color: #ffffff;
}

.word {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  border: 1px solid var(--main-color);
  border-radius: 1em;
  box-shadow: 0 0 0.5em var(--main-color);
  padding: 0.2em;
}

.word-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.audio {
  width: 2em;
  height: 2em;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 10px var(--main-color);
  background: url('../../../assets/svg/sound.svg') no-repeat center;
}

.word-title {
  display: flex;
}